
#Avatar{
    border-radius: 100%;
    width : 250px;
    height: 250px;
    /* text-align: center; */
}

body{
    color:#c9d1d9;
}

button{
    transition-duration:0.2s;
    margin-top:10px;

    font-size: large;
    text-align: center;
    background: #21262d;
    color:#c7cfd7;
    border-color: #363b42;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    height: 30px;

}

button:hover{
    transition-duration:0.2s;
    margin-top:20px;

    font-size: large;
    text-align: center;
    background: #30363d;
    color:#c4d1d9;
    border-color: #8b949e;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

button:active{
    transition-duration:0.2s;
    margin-top:20px;

    font-size: large;
    text-align: center;
    background: #282e33;
    color:#c9d1d9;
    border-color: #6e7681;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}


input{
    transition-duration:0.2s;
    margin-top:10px;

    font-size: large;
    text-align: center;
    background: #10151c;
    color:#c7cfd7;
    border-color: #252a31;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    height: 30px;

}

input:hover{
    transition-duration:0.2s;
    margin-top:20px;

    font-size: large;
    text-align: center;
    background: #20252c;
    color:#c4d1d9;
    border-color: #7a838d;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}

input:active{
    transition-duration:0.2s;
    margin-top:20px;

    font-size: large;
    text-align: center;
    background: #171d22;
    color:#c9d1d9;
    border-color: #5d6570;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 50px;
}